// Fonts

$font-size-lg:56px;

$font-size-md:36px;

$font-size-rg:20px;


//Colors
$txt-color0:#fff;
$txt-color1: #000000;
$txt-color2:#492817;
$orange-pin:#fa0;
$blue-pin:#05B8CC;
$blue-bg:#84dae3;
$org-bg:#fcd284;



// Breakpoints

$break-small:720px;
$break-large:1280px;
